body {
	margin: 0;
	padding: 0;
}

.left, .right {
	position: fixed;
	background-color: yellow;
	z-index: 3;
}

.left {
	width: 10px;
	left: 0;
	top: 0;
	bottom: 0;
}

.right {
	width: 10px;
	right: 0;
	top: 0;
	bottom: 0;
}

.whole {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
}


/* logo */

#title {
	text-align: center;
	position: fixed;
	background: white;
	width: 250px;
	padding: 0;
	margin-top: 50px;
	left: 50%;
	margin-left: -125px;
	border-style: solid;
	border-color: #000;
	border-width: 7px;
	z-index: 2;
	transition: 300ms ease;
}

#kicker {
	display: block;
	text-align: center;
	position: fixed;
	width: 250px;
	padding: 0;
	margin-top: 125px;
	left: 50%;
	margin-left: -125px;
	z-index: 2;
	transition: 300ms ease;
}

/* content */

h1 {
	display: inline-block;
	font-family: futura, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 5px;
	margin: 0;
	padding: 7px 5px 7px 5px;
}

h2 {
	display: inline-block;
	font-family: futura, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 5px;
	margin: 0;
	padding: 0px 0px 0px 15px; 
}

.content {
	transition: 300ms ease;
	padding-top: 175px; 
	display: grid;
 	grid-template-columns: 1fr 500px 500px 1fr;	
 	grid-gap: 10px;
} 

.footer {
	transition: 300ms ease;
	padding-bottom: 15px;
}

.footer > p {
	font-family: futura, sans-serif;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 2px;
	margin: 0;
	padding-bottom: 15px;
	opacity: 0.5;
	text-align: center;
}

/* menu */

.hook {
	position: fixed;
	box-sizing: 30px;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 20px;
	width: 15px;
	height: 15px;
	text-decoration: none;
	font-size: 30px;
	color: black;
	opacity: 0.6;
	z-index: 2;
	transition: 300ms ease;
}

.hook:hover {
	opacity: 1;
	cursor: pointer;
}

.hook:active {
	opacity: 1;
	cursor: pointer;
}

.hook:link {
	text-decoration: none;
}

.hook:visited {
	text-decoration: none;
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: -200px;
	padding-left: 25px;
	width: 175px;
	background-color: #222222;
	z-index: 2;
	transition: 300ms ease;
}

#toggler {
	display: none;
}

#toggler:checked + .whole .menu {
	left: 10px;
}

#toggler:checked + .whole .hook {
	left: 225px;
}

#toggler:checked + .whole #title {
	margin-left: -40px;
}

#toggler:checked + .whole #kicker {
	margin-left: -40px;
}

#toggler:checked + .whole .footer {
	margin-left: 175px;
}

#myname p{
	opacity: 1;
	font-family: futura, sans-serif;
	text-transform: uppercase;
	color: #eee;
	letter-spacing: 0.3em;
	margin-bottom: 3px;
}

#myoc p{
	opacity: 1;
	font-family: futura, sans-serif;
	font-size: 10px;
	letter-spacing: 0.3em;
	color: #eee;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.menu ul {
	margin-top: 30px;
}

.menu ul li {
	list-style-type: none;
	padding-bottom: 15px;
}

.menu ul li a {
	text-decoration: none;
	opacity: 0.6;
	font-family: futura, sans-serif;
	color: #eee;
}

.menu ul li a:hover {
	text-decoration: none;
	opacity: 1;
	cursor: pointer;
}

.menu ul li a:active {
	text-decoration: none;
}

.menu ul li a:visited {
	text-decoration: none;	
}

.menu ul li a:link {
	text-decoration: none;
}

@media screen and (max-width: 736px) {
	.menu {
	position: fixed;
	top: -175px;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 25px;
	height: 140px;
	width: 100%;
	background-color: #222222;
	z-index: 4;
	transition: 300ms ease;
}

	#toggler:checked + .whole .menu {
	top: 0px;
}

	#toggler:checked + .whole .hook {
	top: 150px;
	left: 20px;
}

	#toggler:checked + .whole #title {
	margin-top: 225px;
	margin-left: -125px;
}

	#toggler:checked + .whole #kicker {
	margin-top: 300px;
	margin-left: -125px;
}

	#toggler:checked + .whole .footer {
	margin-top: 175px;
	margin-left: 0;
}

	#myname p{
	opacity: 1;
	font-family: futura, sans-serif;
	text-transform: uppercase;
	color: #eee;
	letter-spacing: 0.3em;
	margin-bottom: 3px;
}

	#myoc p{
	opacity: 1;
	font-family: futura, sans-serif;
	font-size: 10px;
	letter-spacing: 0.3em;
	color: #eee;
	text-transform: uppercase;
	margin-bottom: 25px;
}

	.menu ul {
	margin-top: 0;
}

	.menu ul li {
	display: inline;
	list-style-type: none;
	padding-right: 25px;
}
}